<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>添加学生</p>
    <form method="POST">
        学生姓名:<input type="text" name="name" /><br/>
        性别:<input type="text", name="gender" /><br/>
        所属班级:<select name="class_id">
            {% for class in class_list %}
                <option value="{{ class.cid }}">{{ class.caption }}</option>
            {% endfor %}
            
        </select><br/>
        <input type="submit" value="提交" />
    </form>
</body>
</html>